In [42]:
#Задание 1
class Student:
    
    def __init__(self, name = 'Ivan', age = 18, groupNumber = '10A'):
        'name, age, groupNumber'
        self.name = name
        self.age = age
        self.groupNumber = groupNumber
        
    def getName(self):
        return self.name
    
    def getAge(self):
        return self.age
    
    def getGroupNumber(self):
        return self.groupNumber
    
    def setNameAge(self, newname, newage):
        self.name = newname
        self.age = newage
        
    def setGroupNumber(self, newgroupNumber):
        self.groupNumber = newgroupNumber
        
    def __str__(self):
        return "%s %s %s" % (self.name, self.age, self.groupNumber)

In [43]:
student1 = Student()
student1.setNameAge('Ann', 17)
print(student1)

Ann 17 10A

In [44]:
student2 = 'Masha, 18, 4'
print(student2)

Masha, 18, 4

In [47]:
student3 = Student()
student3.setGroupNumber('13D')
print(student3)

Ivan 18 13D

In [48]:
student4 = Student()
print(student4)

Ivan 18 10A

In [50]:
student5 = Student()
student5.setNameAge('Paul',18)
student5.setGroupNumber('12H')
print(student5)

Paul 18 12H

In [52]:
#Задание 2
class Car:
    def __init__(self, color='', type='', year=''):
        self.color = color
        self.type = type
        self.year = year
    def beginCar(self):
        return 'Автомобиль заведен'
    def endCar(self):
        return 'Автомобиль заглушен'
    def setYear(self, year):
        self.year = year
    def setType(self, type):
        self.type = type
    def setColor(self, color):
        self.color = color
    def __str__(self):
        return '%s %s %s' % (self.color, self.type, self.year)

In [53]:
c1 = Car()
c1.beginCar()

'Автомобиль заведен'

In [54]:
c2 = Car()
c2.endCar()

'Автомобиль заглушен'

In [58]:
c3 = Car()
c3.setYear(2022)
c3.setType('BMW')
c3.setColor('Blue')
print(c3)

Blue BMW 2022

In [63]:
#Задание 3
class Nutrition:
    def __init__(self, big_elem = '',micro_elem = ''):
        self.big_elem = big_elem
        self.micro_elem = micro_elem
    def main_elem(self, main):
        return Nutrition(self.big_elem, self.micro_elem)

In [67]:
apples = (4, 6)
bananas = (7, 2)
print(sum(apples+bananas))

19